* {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(228, 13, 13), rgb(12, 12, 160));
}

.box {
    flex-direction: column;
    width: 50%;
    height: 100vh;
    /* padding: 2.5%; */
}

.b1 h1 {
    color: aliceblue;
    font-size: 50px;
}

.b1 button {
    margin-top: 50px;
    width: 160px;
    height: 30px;
    border: 1px grey solid;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    font-size: 15px;
}

#output {
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    font-size: 30px;
}

#show {
    visibility: hidden;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: 1px grey solid;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    font-size: 15px;
}

@media (max-width:500px) {
    .body {
        flex-direction: column;
    }
    input{
    font-size:10px;
    }
}
